/* Header Navigation */
#navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 15px 30px;
  background-color: #09338E;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
/* Header Navigation */


/* Nav Links */
.nav-links a {
  color: aquamarine;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 20px;
}

.nav-links a:hover {
  color: aqua;
}
/* Nav Links */


/* titles */

h1 {
 text-align: center;

}



/* Body */
body {
  margin: 0;
  background-color: #1d1c18;
  color: #ffffff;
  font-family: sans-serif;
  background-image: url('background.png');
  background-size: cover;
}



/* Body */

body {
background-color: #1d1c18;
color: #e2e1da;

}


/* img */

img {
    width: 100%;
    display: flex;
    flex: 50%;
}

.dev {

    padding-top: 8%;
    padding-bottom: 8%;


}

p {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content:center ;
    padding: 20px;
  font-size: 30px;
}



